
header {
  margin-bottom: 0.3em;
}

header .title {
  font-size: 2em;
}

.bordered {
  border-style: solid;
  border-width: 1px;
  border-color: #888888;
  border-radius: 0.3em;
  margin: 1em;
}

.centered {
  text-align: center;
}

footer {
  color: #888888;
}

footer a {
  color: #888888;
}

.scanner-info img {
  max-width: 100%;
  max-height: 10em;
  display: inline-block;
}

.hidden {
    display: none;
}

.status-list-element.final {
    color: #888888;
}

.element-heading {
    /* a heading inside an element */
    font-size: 1.618em;
}

.heading {
    font-size: 2em;
    text-align: center;
    border-top: 2px;
    border-top-style: solid;
}

a .heading {
    text-decoration: none;
    color: black;
    border-color: black;
}

.listed-image img {
    width:100%;
}

.scanner .images img {
    width:100%;
}

.scanner .device {
    padding-top: 0.2 em;
}

.scanner .scan-button {
    
}

.section {
    margin-top: 1em;
}

.question:before {
    content: " > "
}

.subsection.even {
    background: gray;
}

.subsection.odd {
    background: white;
}

.setting-description {
    text-align: right;
}

.test-scan-image img {
    min-height: 1em;
    border-width: 1px;
    border-style: solid;
    background-color: aqua;
}


